.instructor-card {
  /* height: 45vh; */
  width: 280px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 20px;
}
.instructor-card img {
  margin: 15px;
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.card-head {
  display: flex;
}
.name {
  margin: 15px;
  font-size: 20px;
  font-weight: 900px;
}

.card-details {
  margin: 15px;
}

.instructor-card button {
  margin-top: 20px;
  background-color: rgb(34, 97, 34);
  color: white;
  font-size: 12px;
  padding: 8px;
  border: 1px solid rgb(34, 97, 34);
  border-radius: 9px;
  cursor: pointer;
}
