.header {
    height: 30px;
    width: 100%;
    justify-content: center;
    background-color: rgb(50, 54, 57);
    display: flex;
    
    align-items: center;

    
}
.header ul{
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    color: white;
    font-size: 12px;
    /* gap: 20px; */
}
.header ul li {
    margin: 10px;
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 860px) {
    .header{
        display: none;
    }
}


