.navigation {
  height: 80px;
  width: 84%;
  display: flex;
  align-items: center;
  /* position: fixed; */
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  z-index: 100;
  padding-left: 4%;
}
.brand-name img {
  width: 80px;
  height: 100%;
}
.navigation-menu {
  display: flex;
  width: 100%;
  padding-left: 40px;
  justify-content: flex-start;
  gap: 72px;
}
.navigation-menu ul {
  width: 100%;
  display: flex;
  gap: 5%;
  /* justify-content: space-evenly; */
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  padding-top: 5px;
  display: block;
  color: #ff5d5d;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
.navigation-menu li a:hover {
  color: #1a73e8;
}

.hamburger {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(244, 61, 61);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 49px;
  right: 32px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: rgb(244, 61, 61);
}

@media screen and (max-width: 860px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    padding-right: 0;
  }
  .navigation-menu ul {
    position: absolute;
    top: 78px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 45px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
